@tailwind base;
@tailwind components;
@tailwind utilities;

body ,  .roboto{
    font-family: "Roboto", sans-serif;
}

h1, .playfair{
    font-family: 'Raleway', sans-serif;
}

.playwrite{
    font-family: 'Playwrite DE Grund', sans-serif;
}

.red-gradient{
    @apply bg-gradient-to-r from-rose-500 to-red-600;
}